*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.rb
*.zip
*.log
*.pdf
*.xls
.DS_Store
.htaccess
access.log
error.log
path.xml
work.xml
sftp-config.json
/data/main/css-compiled
/www/test*.php
/.idea/*
/.vscode
.project
/www/_log
/www/_mail
/www/bitrix
/www/f/dist/
/www/.vscode/
/www/vendor/*
